@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  font-family: 'Montserrat';
}

body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu {
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  position: fixed;
  color: #DB545A;
  z-index: 2;
}

.menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menu ul li {
  margin: 0 10px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.menu ul li:hover {
  color: #669ACC;
  transform: scale(1.1);
}

.inicio {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #292D33;
  color: #FFF;
}

.inicio-align {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inicio h1 {
  color: #DB545A;
}

.inicio h2 {
  margin: 30px 150px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}

.inicio .img {
  width: 225px;
  height: 225px;
  border-radius: 100%;
  margin-right: 50px;
  background: url('./images/perfil.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.inicio .img-name {
  width: 100%;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.op-menu {
  width: 80%;
  height: 130px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.op-menu a {
  width: 100px;
  height: 100px;
  font-weight: bold;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  text-decoration: none;
  transition: 1s;
  color: #292D33;
  font-size: 12px;
}

.op-menu a:hover {
  transform: scale(1.1);
  color: #FFF;
  box-shadow: 0px 0px 0px 120px #DB545A inset;
}

@media (max-width: 750px) {
  .container {
    max-width: 100%;
  }

  .inicio {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292D33;
    color: #FFF;
  }

  .inicio-align {
    width: 95%;
    height: 100vh;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inicio h1 {
    color: #DB545A;
    font-size: 26px;
    text-align: center;
  }

  .descricao {
    width: 100%;
    height: 15vh;
    text-align: center;
    margin: 5px;
  }

  .inicio h2 {
    line-height: 20px;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  .inicio .img {
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    border-radius: 100%;
    background: url('./images/perfil.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .inicio .img-name {
    width: 100%;
    height: 40vh;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .op-menu {
    width: 100% !important;
    height: 45vh !important;
    display: flex;
    margin: 0;
    padding-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .op-menu a {
    width: 90px;
    height: 90px;
    margin-top: 10px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    text-decoration: none;
    color: #292D33;
    font-size: 12px;
    font-weight: 900;
  }

  .op-menu a:hover {
    transform: scale(1.1);
    color: #FFF;
    box-shadow: 0px 0px 0px 120px #DB545A inset;
  }

}

.habilidades {
  max-width: 100%;
  height: 100vh;
  background: url('./images/2f43f63fa0463c55319949d63b2deb78670d9eb293ea661764ad33adc5a837922c97b30bad592a3971ec62936033c7ee6b10ffb476253010980730_1280.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.container-hab {
  position: relative;
}

.habilidades h2 {
  margin: 0;
  padding: 40px 0 0 40px;
  font-size: 36px;
  font-weight: bolder;
  position: absolute;
  color: #DB545A;
  text-align: center;
}

.nuvem {
  margin-top: 50px;
  position: absolute;
  /* animation-duration: 45s;
  animation-name: slidenuvem6;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

.nuvem2 {
  margin-top: 70px;
  position: absolute;
}

.nuvem3 {
  margin-top: 240px;
  position: absolute;
}

.nuvem4 {
  margin-top: 260px;
  position: absolute;
}

.nuvem5 {
  margin-top: 410px;
  position: absolute;
}

.nuvem6 {
  margin-top: 440px;
  position: absolute;
}

/* #habilidades {position: relative; top: 0px; width: 500px; height: 500px; background:blue;} */
#hab1,
#hab2-html,
#hab2-css,
#hab2-js,
#hab2-php,
#hab2-react,
#hab2-ts,
#hab3,
#hab4 {
  position: absolute;
  width: 100px;
  height: 80px;
  background: #fff;
  border-radius: 50% 50%;
}

#hab1 {
  top: 70px;
  left: 90px;
  box-shadow: 5px 2px 2px black;
}

#hab2-html {
  top: 80px;
  left: 150px;
  box-shadow: 5px 2px 2px black;
  background-image: url('./images/html-5.png');
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: center;
  z-index: 1;
}

#hab2-css {
  top: 80px;
  left: 150px;
  box-shadow: 5px 2px 2px black;
  background-image: url('./images/css-3.png');
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: center;
  z-index: 1;
}

#hab2-js {
  top: 80px;
  left: 150px;
  box-shadow: 5px 2px 2px black;
  background-image: url('./images/javascript.png');
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: center;
  z-index: 1;
}

#hab2-php {
  top: 80px;
  left: 150px;
  box-shadow: 5px 2px 2px black;
  background-image: url('./images/php.png');
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: center;
  z-index: 1;
}

#hab2-react {
  top: 80px;
  left: 150px;
  box-shadow: 5px 2px 2px black;
  background-image: url('./images/react.png');
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: center;
  z-index: 1;
}

#hab2-ts {
  top: 80px;
  left: 150px;
  box-shadow: 5px 2px 2px black;
  background-image: url('./images/typescript.png');
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: center;
  z-index: 1;
}

#hab3 {
  top: 40px;
  left: 200px;
  box-shadow: 5px 2px 2px black;
}

#hab4 {
  top: 20px;
  left: 130px;
}

/* 
@keyframes slidenuvem {
  from {
    left: calc(100vw - 10vw);
  }

  to {
    left: 0vw;
  }
}
*/
@media (max-width: 600px) {
  .habilidades {
    max-width: 100%;
    height: 100vh;
    background: url('./images/2f43f63fa0463c55319949d63b2deb78670d9eb293ea661764ad33adc5a837922c97b30bad592a3971ec62936033c7ee6b10ffb476253010980730_1280.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .nuvem {
    margin-top: 70px;
  }

  .nuvem2 {
    margin-top: 160px;
  }

  .nuvem3 {
    margin-top: 260px;
  }

  .nuvem4 {
    margin-top: 350px;
  }

  .nuvem5 {
    margin-top: 440px;
  }

  .nuvem6 {
    margin-top: 530px;
  }

  /* #habilidades {position: relative; top: 0px; width: 500px; height: 500px; background:blue;} */
  #hab1,
  #hab2-html,
  #hab2-css,
  #hab2-js,
  #hab2-php,
  #hab2-react,
  #hab2-ts,
  #hab3,
  #hab4 {
    width: 60px;
    height: 40px;
    background: #fff;
    border-radius: 50% 50%;
  }

  #hab1 {
    top: 70px;
    left: 110px;
  }

  #hab2-html {
    top: 80px;
    left: 150px;
    box-shadow: 5px 2px 2px black;
    background-image: url('./images/html-5.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
  }

  #hab2-css {
    top: 80px;
    left: 150px;
    box-shadow: 5px 2px 2px black;
    background-image: url('./images/css-3.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
  }

  #hab2-js {
    top: 80px;
    left: 150px;
    box-shadow: 5px 2px 2px black;
    background-image: url('./images/javascript.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
  }

  #hab2-php {
    top: 80px;
    left: 150px;
    box-shadow: 5px 2px 2px black;
    background-image: url('./images/php.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
  }

  #hab2-react {
    top: 80px;
    left: 150px;
    box-shadow: 5px 2px 2px black;
    background-image: url('./images/react.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
  }

  #hab2-ts {
    top: 80px;
    left: 150px;
    box-shadow: 5px 2px 2px black;
    background-image: url('./images/typescript.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
  }

  #hab3 {
    top: 50px;
    left: 170px;
    box-shadow: 5px 2px 2px black;
  }

  #hab4 {
    top: 45px;
    left: 130px;
  }
}


.projetos {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/e79b457024a46acccc8508d8748d380e5ffd97612317c8c49dedcf91587d03bee4b3ad49dd5ce7aba9c59cb3d848b387e4f7fb3f0a47f6ffeb0a9a_1280.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 20px;
}

.projetos h2 {
  margin: 40px 0 0 40px;
  font-size: 36px;
  font-weight: bolder;
  position: absolute;
  color: #DB545A;
  text-align: center;
}

.projs {
  width: 100%;
  height: 100%;
  color: #FFF;
  font-size: 19px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.img-proj1 {
  width: 225px;
  height: 225px;
  border-radius: 100%;
  margin-right: 50px;
  background: url('./images/home1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-proj2 {
  width: 225px;
  height: 225px;
  border-radius: 100%;
  margin-right: 50px;
  background: url('./images/home2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-proj3 {
  width: 225px;
  height: 225px;
  border-radius: 100%;
  margin-right: 50px;
  background: url('./images/lista-pacientes.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.proj {
  width: 225px;
}

.contato {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #292D33;
  color: #FFF;
}

.contato h2 {
  margin: 0;
  padding: 40px 0 0 40px;
  font-size: 36px;
  font-weight: bolder;
  color: #DB545A;
  text-align: center;
}

.email {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i-email {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: 30px;
  background: url('./images/6244710.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.email p {
  font-size: 18px;
  font-weight: 600;
}

.social {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i-git {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 100px;
  background: url('./images/2111432.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.i-git:hover {
  background-color: #6e2a8d;
}

.i-linkedin {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: url('./images/1384014.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.i-linkedin:hover {
  background-color: #0A66C2;
}

.footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.footer p {
  margin: 0;
  padding: 10px;
}

@media (max-width: 750px) {
  .projetos h2 {
    margin: 0;
    padding: 40px 0 0 40px;
    font-size: 36px;
    font-weight: bolder;
    position: relative;
    color: #DB545A;
    text-align: center;
  }
  
  .projs {
    width: 100%;
    color: #FFF;
    font-size: 18px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: flex-start;
  }

  .proj p {
    width: 60%;
  }
  
  .img-proj1 {
    width: 150px;
    height: 150px;
    border-radius: 30%;
    margin: 0 0 0 20px !important;
    background: url('./images/home1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .img-proj2 {
    width: 150px;
    height: 150px;
    border-radius: 30%;
    margin: 0 0 0 20px !important;
    background: url('./images/home2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .img-proj3 {
    width: 150px;
    height: 150px;
    border-radius: 30%;
    margin: 0 0 0 20px !important;
    background: url('./images/lista-pacientes.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .proj {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contato {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292D33;
    color: #FFF;
  }
  
  .contato h2 {
    margin: 0;
    padding: 40px 0 0 40px;
    font-size: 36px;
    font-weight: bolder;
    color: #DB545A;
    text-align: center;
  }
  
  .email {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .i-email {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 20px;
    background: url('./images/6244710.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .email p {
    font-size: 18px;
    font-weight: 600;
  }
  
  .social {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .i-git {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 100px;
    background: url('./images/2111432.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  
  .i-git:hover {
    background-color: #6e2a8d;
  }
  
  .i-linkedin {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: url('./images/1384014.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  
  .i-linkedin:hover {
    background-color: #0A66C2;
  }
  
  .footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }   

  .formContato {
    width: 80% !important;
    margin-top: 30px;
  }
}
.formContato {
  width: 50%;
  margin-top: 30px;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-form {
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.btn-form {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #DB545A;
  color: #292D33;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}